.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.img-thumbnail:hover {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.c-white {
    color: white;
}

.btn-submit, .btn-rps {
    background: #00acc1;
    border: none;
    color: white;
}

.text-rps {
    color: #00acc1;
}

.bg-rps {
    background: #00acc1;
}

.btn-submit:hover, .btn-rps:hover {
    color: white;
}

[data-theme-version="dark"] .deznav .metismenu > li:hover > a, [data-theme-version="dark"] .deznav .metismenu > li:focus > a,
[data-theme-version="dark"] .deznav .metismenu > li.mm-active > a {
    color: #00acc1;
}

[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li > a:before {
    background: #00acc1;
}

[data-theme-version="dark"] .deznav .metismenu ul a:hover, [data-theme-version="dark"] .deznav .metismenu ul a:focus,
[data-theme-version="dark"] .deznav .metismenu ul a.mm-active {
    color: #00acc1;
}

.deznav .metismenu ul a:hover:before, .deznav .metismenu ul a:focus:before, .deznav .metismenu ul a.mm-active:before {
    border-color: #00acc1;
}

[data-theme-version="dark"] .deznav .metismenu > li:hover > a i, [data-theme-version="dark"] .deznav .metismenu > li:focus > a i, [data-theme-version="dark"] .deznav .metismenu > li.mm-active > a i {
    color: #00acc1;
}

.btn-crown {
    background-color: #00acc1;
    border-color: #00acc1;
    color: white;
}

.color-crown {
    color: #00acc1;
}

.btn-crown:hover {
    color: white;
}

a {
    color: #00acc1;
}

#icon-copy:hover {
    cursor: pointer;
}